In [1]:
import numpy as np
import pandas as pd

In [4]:
raw_df = pd.read_csv('./data/raw/data.csv')

raw_df.head()

,Sr No.,Utterance,Speaker,Emotion,Sentiment,Dialogue_ID,Utterance_ID,Season,Episode,StartTime,EndTime
0,1,also I was the point person on my company’s tr...,Chandler,neutral,neutral,0,0,8,21,"00:16:16,059","00:16:21,731"
1,2,You must’ve had your hands full.,The Interviewer,neutral,neutral,0,1,8,21,"00:16:21,940","00:16:23,442"
2,3,That I did. That I did.,Chandler,neutral,neutral,0,2,8,21,"00:16:23,442","00:16:26,389"
3,4,So let’s talk a little bit about your duties.,The Interviewer,neutral,neutral,0,3,8,21,"00:16:26,820","00:16:29,572"
4,5,My duties? All right.,Chandler,surprise,positive,0,4,8,21,"00:16:34,452","00:16:40,917"

In [5]:
# Get only needed columns
df = raw_df[['Utterance', 'Sentiment', 'Emotion']]
df.rename(columns={'Utterance': 'Sentence'}, inplace=True)

df

                                                Sentence Sentiment   Emotion
0      also I was the point person on my company’s tr...   neutral   neutral
1                       You must’ve had your hands full.   neutral   neutral
2                                That I did. That I did.   neutral   neutral
3          So let’s talk a little bit about your duties.   neutral   neutral
4                                 My duties?  All right.  positive  surprise
...                                                  ...       ...       ...
12594  Yeah, I mean, come on Ross, no one will even n...   neutral   neutral
12595                      They’re not listening too me?  negative  surprise
12596  Of course they’re listening to you! Everybody ...   neutral   neutral
12597  Monica you really think I should try this phas...   neutral   neutral
12598                             I think you look fine.   neutral   neutral

[12599 rows x 3 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12599 entries, 0 to 12598
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sentence   12599 non-null  object
 1   Sentiment  12599 non-null  object
 2   Emotion    12599 non-null  object
dtypes: object(3)
memory usage: 295.4+ KB

In [7]:
df.isnull().sum()

Sentence     0
Sentiment    0
Emotion      0
dtype: int64

In [8]:
df.to_csv('./data/edited/data.csv')